.Rproj.user/
Final_Proj.Rproj
Source_Data/
.local/*
.rstudio/*
Rplots.pdf*
.config/*
.gitconfig/*
.bash_history
.Rproj.user
.Rhistory
.RData
.Ruserdata
scratch_work.Rmd
pipeline_illustration_modified1.png
paperdti.bib
final_project2.html
final_project2.Rmd
Analysis.pdf
derived_data/*.csv
derived_graphics/*.png
derived_graphics/*.rds
derived_models/*.rds